<li>
  <%= link_to full_name(user), user_path(user.id) %>
  <% if current_user.admin? %>
    | <%= link_to "löschen", user, method: :delete,
                                   data: { confirm: "User #{full_name(user)} wirklich löschen?" } %>
  <% end %>
</li>