<div class="posts">
  <div class="header">
    <h2>
      <%= wrap_title(@post.title) %>
    </h2>
    <%= render 'shared/header_part', p: @post %>
  </div>
  <div class="post">
    <%= wrap(@post.content) %>
  </div>
  <% if signed_in? && correct_user_or_admin? %>
  <div align="center">
    <br/>
    <%= link_to "Bearbeiten", edit_post_path(@post) %>
  </div>
  <% end %>
</div>